:root {
  --text-disabled: #a5adce !important;
  --color-text-secondary: #a5adce !important;

  --sys-color-base: #303446 !important;
  --sys-color-base-container: #292c3c !important;
  --sys-color-cdt-base-container: #292c3c !important;
  --sys-color-neutral-container: #414559 !important;
  --sys-color-tonal-container: #5a5c7a !important;
  --sys-color-surface: #414559 !important;
  --sys-color-surface1: #51576d !important;
  --sys-color-surface2: #51576d !important;
  --sys-color-surface3: #626880 !important;
  --sys-color-surface-variant: #51576d !important;
  --sys-color-surface-error: #433c4c !important;

  --sys-color-divider: #737994 !important;
  --sys-color-neutral-outline: #737994 !important;
  --sys-color-neutral-bright: #a5adce !important;
  --sys-color-tonal-outline: #babbf1 !important;

  --sys-color-on-surface: #c6d0f5 !important;
  --sys-color-on-tonal-container: #c6d0f5 !important;
  --sys-color-on-surface-subtle: #a5adce !important;
  --sys-color-token-subtle: #a5adce !important;

  --sys-color-primary: #babbf1 !important;
  --sys-color-primary-bright: #babbf1 !important;
  --sys-color-on-primary: #303446 !important;

  --sys-color-tertiary: #a6d189 !important;

  --sys-color-token-tag: #8caaee !important;
  --sys-color-token-attribute: #85c1dc !important;
  --sys-color-token-attribute-value: #ef9f76 !important;
  --sys-color-token-property-special: #99d1db !important;
  --sys-color-token-variable: #c6d0f5 !important;
  --sys-color-token-property: #babbf1 !important;
  --sys-color-token-string: #a6d189 !important;
  --sys-color-token-string-special: #a6d189 !important;
  --sys-color-token-number: #ef9f76 !important;
  --sys-color-token-keyword: #ca9ee6 !important;
  --sys-color-token-meta: #838ba7 !important;
  --sys-color-token-comment: #949cbb !important;
  --sys-color-token-declaration: #c6d0f5 !important;

  --sys-color-property-special: #99d1db !important;

  --sys-color-state-disabled: #737994 !important;
  --sys-color-state-focus-ring: #babbf1 !important;
  --sys-color-state-hover-on-subtle: #babbf133 !important;
  --sys-color-state-ripple-neutral-on-subtle: #babbf14d !important;
  --sys-color-state-hover-on-prominent: #babbf133 !important;
  --sys-color-state-ripple-neutral-on-prominent: #babbf14d !important;

  --sys-color-on-error-container: #c6d0f5 !important;
  --sys-color-error-bright: #e78284 !important;

  --sys-color-surface-yellow: #545255 !important;
  --sys-color-surface-yellow-high: #67605c !important;
  --sys-color-on-surface-yellow: #c6d0f5 !important;

  --sys-color-orange: #ef9f76 !important;
  --sys-color-orange-bright: #ef9f76 !important;
  --sys-color-green: #a6d189 !important;
  --sys-color-green-bright: #a6d189 !important;
  --sys-color-purple: #ca9ee6 !important;
  --sys-color-purple-bright: #ca9ee6 !important;

  --lighthouse-red: #e78284 !important;
  --lighthouse-yellow: #e5c890 !important;
  --lighthouse-green: #a6d189 !important;

  --issue-color-red: #e78284 !important;
  --issue-color-yellow: #e5c890 !important;
  --issue-color-blue: #8caaee !important;

  --drop-shadow: 0 0 0 0 #fff;
  --drop-shadow-depth-1: 0 0 0 0 #fff;
  --drop-shadow-depth-2: 0 0 0 0 #fff;
  --drop-shadow-depth-3: 0 0 0 0 #fff;
  --drop-shadow-depth-4: 0 0 0 0 #fff;
  --drop-shadow-depth-5: 0 0 0 0 #fff;

  --color-background-elevation-dark-only: #414559;

  .lh-root {
    --report-background-color: #303446;
    --report-text-color: #c6d0f5;
    --report-text-color-secondary: #a5adce;

    --link-color: #babbf1;
    --snippet-color: #99d1db;

    --color-fail: #e78284;
    --color-fail-secondary: #e78284;
    --color-average: #e5c890;
    --color-average-secondary: #e5c890;
    --color-pass: #a6d189;
    --color-pass-secondary: #a6d189;
    --color-gray-700: #a5adce;
    --color-gray-600: #949cbb;
    --color-gray-500: #737994;
    --color-gray-200: #414559;
    --color-blue-primary: #babbf1;
    --color-white: #303446;

    --topbar-background-color: #292c3c;

    --toplevel-warning-background-color: #67605c;
    --toplevel-warning-message-text-color: #c6d0f5;
    --toplevel-warning-text-color: #c6d0f5;

    --env-item-background-color: #414559;

    --table-group-header-background-color: #414559;

    --pwa-installable-gray-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="nonzero"><circle fill="%23414559" cx="12" cy="12" r="12"/><path d="M12 5a7 7 0 1 0 0 14 7 7 0 0 0 0-14zm3.5 7.7h-2.8v2.8h-1.4v-2.8H8.5v-1.4h2.8V8.5h1.4v2.8h2.8v1.4z" fill="%23c6d0f5"/></g></svg>');
    --pwa-optimized-gray-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="nonzero"><circle fill="%23414559" cx="12" cy="12" r="12"/><path d="M12 5a7 7 0 1 0 0 14 7 7 0 0 0 0-14zm3.5 7.7h-2.8v2.8h-1.4v-2.8H8.5v-1.4h2.8V8.5h1.4v2.8h2.8v1.4z" fill="%23c6d0f5"/></g></svg>');

    .lighthouse-help-text {
      color: #e78284 !important;
    }

    .lh-tools__dropdown {
      box-shadow: 1px 1px 3px #737994;
    }

    .lh-tooltip {
      background-color: #414559;
      color: #c6d0f5;
      &::before {
        border-bottom-color: #414559;
      }
    }

    .lh-report-icon::before {
      filter: invert(84%) sepia(5%) saturate(1630%) hue-rotate(193deg) brightness(99%) contrast(94%);
    }

    .lh-gauge--pwa__wrapper:not(.lh-badged--all) .lh-gauge--pwa__logo > path {
      fill: #c6d0f5;
    }

    .lh-gauge--pwa__wrapper:not([class*='lh-badged--']) .lh-gauge--pwa__na-line {
      fill: #c6d0f5 !important;
    }

    summary:focus {
      box-shadow: 0 0 0 1px #babbf1;
    }
  }
}

.metrics {
  --override-box-model-text-color: #303446 !important;
  --override-box-model-separator-color: #303446 !important;
  [jslog*="MetricsBox"].highlighted {
    &.margin {
      background-color: #ef9f76 !important;
    }
    &.border {
      background-color: #e5c890 !important;
    }
    &.padding {
      background-color: #a6d189 !important;
    }
    &.content {
      background-color: #8caaee !important;
    }
  }
}

.event-listener-button {
  background-color: #414559 !important;
}

.lighthouse-progress-bar.errored {
  background: #e78284 !important;
}

devtools-record-menu-title {
  --override-color-accent-red: #e78284 !important;
}

:host-context(.-theme-with-dark-background) .arrow {
  filter: invert(11%) sepia(5%) saturate(5076%) hue-rotate(194deg) brightness(93%) contrast(83%);
}

input[type="checkbox"], input[type="radio"] {
  appearance: none;
  background-color: #414559;
  border: solid 1px #737994;
  border-radius: 2px;
  width: 12px;
  height: 12px;
  position: relative;

  &:checked {
    background-color: #babbf1;
  }
  &:focus {
    outline: none;
  }
}

input[type="radio"] {
  border-radius: 100%;
}

.filtered-list-widget-item-wrapper .tag {
  background-color: #babbf1 !important;
  color: #303446 !important;
}
